*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
  }
  .container{
    width: 80%;

    display: grid;
    gap: 0.5rem;
    align-items: center;
    justify-content: space-between;
    margin: 0 20%;
  }
  
  img{
    width: 30%;
    height: auto;
    transition:all 0.5s ;


  }
  img:hover{
    width: 35%;
  }
  ul{
    display: grid;
    grid-template-columns:  1fr 1fr;
    list-style: none;
    color:blue ;
    margin: 1rem;
  }
  h1{
    margin-bottom: 2rem;
  }
  